a {
    text-decoration: none;
    color: var(--purple-1);
    font-weight: 500;
    transition: color 0.25s ease;
}

a:hover {
    color: var(--primary-accent);
}

p {
    font-size: var(--p-size);
    line-height: var(--p-height);
    font-weight: 400;
    margin: var(--spacing-md) 0;
}