html,
body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

body {
  font-family: var(--body-font);
  color: var(--text-dark);
  margin: 0;
  box-sizing: border-box;
  padding: var(--spacing-sm) 0 0 0;
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  margin: var(--spacing-xl) 0 0 0;
}