<main>
    <canvas id="gradient-canvas"></canvas>

    <div class="hero">
        <div class="section-container two-column">
            <div class="col-left">
                <h1>GymBro</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum suscipit ex doloribus, officiis nam ullam, itaque ea ipsum assumenda tempore magni doloremque, nemo optio veniam ut quas et quaerat sint!</p>
                <div class="button-container">
                    <button class="primary-button with-icon">
                        Let's train togheter!
                    </button>
                    <button class="secondary-button with-icon">
                        Contact us!
                    </button>
                </div>
            </div>
            <div class="col-right hero-gym-container">
                <img class="hero-gym" src="assets/images/PngItem_3577192.png" alt="">
            </div>
        </div>
    </div>
</main>
